# Environment variables template
TF_VAR_hf_token=
TF_VAR_project_id=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

gcloud compute scp ai-cpu-node:benchmark_result.json . --zone=us-central1-a --project=track2-day16-2a202601630 --tunnel-through-iap

{"username":"Chi16102004","key":"KGAT_ec7b3acfec5155657a27e1ca000ac462"}